HOST_NAME=localhost
HOST_URL=http://localhost
NGINX_ENVSUBST_TEMPLATE_SUFFIX=.template.local
BACK_PROXY_URL=php:9000
FRONT_PROXY_URL=http://host.docker.internal:3000
FRONT_NGINX_AUTH_BOOL=False

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=project
MYSQL_USER=project
MYSQL_PASSWORD=project